<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <targets>
    <target name="webApplicationLogFile" xsi:type="File"
				fileName="${basedir}/logs/Payment.txt"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="20000000"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveFileName="${basedir}/logs/archives/{#}.Payment.zip"
				layout="${longdate}|${uppercase:${level}}|${logger}|${windows-identity}|${message}"
				enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="webApplicationLogFile" />
  </rules>
</nlog>