
@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DAL.Entities
@section styles{

    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.css" rel="stylesheet" />

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@(ViewData["Title"])</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@(ViewData["Title"])</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <label>Tìm theo mã, tên khách hàng</label>
                    <input type="text" class="form-control" id="txtkeyword" />
                </div>
                <div class="col-sm-2">
                    <input type="button" value="Tìm" class="btn btn-primary btn-filter" id="btn-search" />
                </div>
                <div class="col-sm-4">
                    <div class="text-right">
                        <a class="btn btn-sm btn-primary btn-filter" href="/customer/customerdetail"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                        @*<button class="btn btn-sm btn-success btn-filter"><i class="fa fa-download"></i>&nbsp;Export excel</button>
                        <button class="btn btn-sm btn-success btn-filter"><i class="fa fa-upload"></i>&nbsp;Import excel</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body ">
            
            <table class="table table-bordered table-hover dataTable" id="table-customer" width="100%">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Mã số thuế</th>
                        <th>Địa chỉ</th>
                        <th>Loại KH</th>
                        <th></th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</section>
@section scripts{
    <script src="~/plugins/datatable/jquery.datatable.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>


    <script>
        
        var tableId = "#table-customer";
        var ajaxURL = "/Customer/SearchCustomer";
        var columnData = [
            { "data": "customerCode" },
            { "data": "customerName" },
            { "data": "phone" },
            { "data": "email" },
            { "data": "taxCode" },
            { "data": "taxAddress" },
            { "data": "customerTypeName" },
            {
                "data": "id", "render": function (data, type, row, meta) {
                    return RenderTableAction(data);
                }
            },


        ];
        $(document).ready(function () {

            SearchCustomer();
            $("#btn-search").click(function () {
                SearchCustomer();
            });


          
         
          
        });
        function RenderTableAction(customerId) {
            var html = "<div class='div-table-action'>" +
                            "<i class='fa fa-edit' onclick='GotoCustomerDetail(" + customerId + ")'></i>&nbsp;" +
                            "<i class='fa fa-trash' onclick='DeleteCustomer(" + customerId + ")'></i>" +
                        "</div>";
            return html;
        }
        function GotoCustomerDetail(customerId) {
            location.href = "/customer/customerdetail/" + customerId;
        }
        function SearchCustomer() {

            var dataSearch = {
                //CustomerType: $("#ddl-customertype").val(),
                //ProvinceCode: $("#ddl-province").val(),
                Keyword: $("#txtkeyword").val()
                //start: 1,
                //length: 20
            };
            GenrateDataTableSearch(tableId, ajaxURL, columnData, dataSearch,10,"khách hàng");

        }

        function DeleteCustomer(customerId) {
            bootbox.confirm("Bạn có chắc muốn xóa khách hàng này?", function (confi) {
                    if (confi)
                    {
                        $.ajax({
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            url: "/Customer/DeleteCustomer/" + customerId,
                            dataType: 'json',
                            success: function (res) {
                                if (res.isSuccess === true) {
                                    SearchCustomer();
                                } else {
                                    bootbox.alert(AlertFail(res.errorMessage));
                                }

                            }
                        });
                    }
             });
        }

    </script>
}